.ProductListContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: var(--padding-medium);
    padding: var(--padding-medium);
    background-color: var(--background-color);
}