.HeaderContainer {
    background-color: var(--primary-color);
    color: var(--card-background-color);
    padding: var(--padding-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px var(--box-shadow-light);
}

.HeaderContainer h1 {
    font-size: var(--font-size-large);
    margin: 0;
}

.HeaderContainer nav {
    display: flex;
    gap: var(--padding-small);
}

.HeaderLink {
    text-decoration: none;
    color: var(--card-background-color);
    font-size: var(--font-size-medium);
    padding: var(--padding-small);
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
}

.HeaderLink:hover {
    background-color: var(--primary-hover-color);
}

.CartCount {
    background-color: var(--secondary-color);
    color: var(--card-background-color);
    font-size: var(--font-size-small);
    font-weight: bold;
    border-radius: 50%;
    padding: 4px 8px;
    margin-left: 8px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .HeaderContainer {
        flex-direction: column;
        /* Stack content vertically */
        align-items: center;
    }

    .HeaderContainer nav {
        justify-content: center;
    }
}